## Midterm - any questions?

# Lecture 8 - Intro to databases

### Contents:
* Midterm feedback 



* Databases - dockerized versions
* DataTypes
* Tables
* Joins
* Python - SQLAlchemy
* SQL + Pandas implementation!

## Why do I need it?

* Peristence of data
* Csvs might not be suitable anymore:
    * No data sanitation
    * Cannot share between clients (download continually data from multiple sources and create a single file)
    * Files can get corrupted, inconsistent, no security, easily deleted etc...
    * What if something happens during a write?
    * Parallel writing
    * Speed of writing/reading

* Lookup in the dataset!

## Relational databases

* optimize storage -> use normalized data - discover relations using joins
* designed on ACID principle - Atomicity, Consistency, Isolation, Durability
* store huge data 
* read it very fast - depending on the design
* Many different applications!
    * Business
    * Web-servers
    * Big data
    
* Protected access with username / password, vpns, etc.

## SQL
*Structured Query Language*
* Human readable
* Different implementations
    * engines: SQLite, MySQL, Oracle, PostgreSQL
* SQL is only a language
* Data are stored in *Tables* 
* Connected via *Relations*
* NoSQL - MongoDB, CouchDB, DynamoDB - they optimize access speed, instead of storage (now storage is cheap), async, scalable

## How to use it? 
* Command-line
* Python drivers
* Programming interface
* GUI Interface - [DBeaver](https://dbeaver.io/)
* Integration with existing software - MS Office, etc

### Database Layers
![alt text](sql_struktura.png "sql structures")


### Tables
![alt text](stock-db.png "Our DB")


### Data Types
depends on specific application
* numeric
    * INT, INTEGER, REAL, FLOAT, DOUBLE etc.
* strings
    * STRING, TEXT, VARCHAR
* more specialized
    * DATE, TIME etc.

## My problem - I want to keep data about stocks for analysis

* Would I always need to download data which does not chage?
* Run different queries - analysis
* More stocks can be added any day
* Keep format

In [16]:
#!pip install yfinance

import yfinance as yf

msft = yf.Ticker("MSFT")

In [17]:
#data like this so what do I want to keep? and how?
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has a strategic collaboration with DXC Technology and Dynatrace, Inc. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Software—Infrastructure',
 'previousClose': 255.91,
 'regularMarketOpen': 257.257,
 'twoHundredDayAverage': 224.29346,
 'trailingAnnualDividendYield': 0.008362316,
 'payoutRatio': 0.31149998,
 'volume24Hr': None,
 'regularMarketDayHigh': 259.18,
 'navPrice': None,
 'averageDailyVolume10Day': 26272950,
 'totalAssets': None,
 'regularMarketPreviousClose': 255.91,
 'fiftyDayAverage': 236.92572,
 'trailingAnnualDividendRate': 2.14,
 'open': 257.257,
 'toCurrency': None,
 'averageVolume10days': 26272950,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.24,
 'exDividendDate': 1621382400,
 'beta': 0.794263,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 256.83,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 38.36589,
 'regularMarketVolume': 12040963,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1940764098560,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 30446629,
 'priceToSalesTrailing12Months': 12.661231,
 'dayLow': 256.83,
 'ask': 257.76,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 12040963,
 'fiftyTwoWeekHigh': 259.18,
 'forwardPE': 31.846537,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.66,
 'fiftyTwoWeekLow': 166.11,
 'bid': 257.73,
 'tradeable': False,
 'dividendYield': 0.0088,
 'bidSize': 1200,
 'dayHigh': 259.18,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 12.268,
 'beta3Year': None,
 'profitMargins': 0.33473998,
 'enterpriseToEbitda': 26.232,
 '52WeekChange': 0.47328722,
 'morningStarRiskRating': None,
 'forwardEps': 8.08,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7560500224,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 17.259,
 'sharesShort': 48428331,
 'sharesPercentSharesOut': 0.0064,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.72161,
 'netIncomeToCommon': 51309998080,
 'trailingEps': 6.707,
 'lastDividendValue': 0.56,
 'SandP52WeekChange': 0.45042264,
 'priceToBook': 14.909323,
 'heldPercentInsiders': 0.00071999995,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1609372800,
 'shortRatio': 1.54,
 'sharesShortPreviousMonthDate': 1614297600,
 'floatShares': 7431118929,
 'enterpriseValue': 1880468881408,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1613520000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.327,
 'dateShortInterest': 1617148800,
 'pegRatio': 1.72,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0064,
 'sharesShortPriorMonth': 41632106,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 257.32,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

## Lets create a database for this data

* Where to store it?
  *  memory: fast, will be lost once exited
  * personal computer - why not, but can be lost, ?performance?
  * cloud server - SaaS - https://aws.amazon.com/rds/postgresql/ - if you want to learn this, drop as an email, we might add it to the course


* Demo - postgresql server instance running in Docker on your computer - quick to start using, no installation etc.
  * ! docker will create a container where the data will be stored - if you lose the image, you lose the data!
  * It is possible to create have the data in a specific directory, thus persistent - if you really really need persistence of the data, get the cloud server, or read the manual https://hub.docker.com/_/postgres

### which docker image? 
https://hub.docker.com/_/postgres
    
docker allows me to easily specify versions, size of image and other things!

### if you have docker running on your machine, you can easily start the database from terminal / command line

* I am running latest postgres 12 based on alpine linux system (dont really care when in docker, but it is slim)
* Specifying the image name `--name your name` - I can stop it `docker stop name` and start it again `docker start name`
   * if not supplied, it will be created by docker with some funny adjective of a scientist like 'crazy einstein' etc.
* specify env variables which will customize the DB (password and postgres user)
* specify on which port I can access the db -p 5423:5432 `-p 5423:5432` - in the docker it runs on default postgres 5432, I want to get there through my own 5432 port, since nothing is running there. 

* recommending add `-d` so it runs in backgroung

* access logs `docker logs stock-db`


`docker run -d --name stock-db -e POSTGRES_PASSWORD=iesFTW -e POSTGRES_USER=honza -p 5432:5432 postgres:12-alpine`

### how to connect?

* Now we have a server - we need a client (like with requests - browser)
   * Not a bad idea to get familiar with command line tools `psql` client  - on MacOS `brew install libpq`
   * GUI clients - multiplatform https://dbeaver.io/ and others  - on macOS `brew cask install dbeaver-community`   
 
* terminal connect:
   * `psql -h localhost -U honza postgres` and put in password `iesFTW`
   * default database name is `postgres`, thats the last parameter. You can customize it with docker
   * by default `psql` would connect you to database with name same as the user (jansila) in my case, so do not get confused here
 
* DBeaver as shown in video

In [5]:
#save some data - design a database

# determine appropriate structure!

# tables - company, financials, prices
# each has own purpose

sql_create_company = """ CREATE TABLE IF NOT EXISTS company (
                            ticker VARCHAR(5) PRIMARY KEY, --max length of a ticker is 5
                            name TEXT NOT NULL, -- cannot be empty
                            sector TEXT,
                            state TEXT,
                            summary TEXT)
"""


sql_create_financials = """CREATE TABLE financials (
    ticker VARCHAR(5) PRIMARY KEY, -- in more advanced designs, we would create this as foreign key! only one observation per ticker
    shares BIGINT,
    div_yield REAL,
    beta REAL
)"""

sql_create_prices = """CREATE TABLE IF NOT EXISTS prices (
    ticker VARCHAR(5),
    ts DATE NOT NULL,
    price REAL,
    volume BIGINT --in milions
    )
    """

In [18]:
#!pip install psycopg2

In [19]:
# lets connect
import psycopg2 #only for PostgreSQL

connection = psycopg2.connect("dbname='postgres' user='honza' host='db' password='iesFTW'") 
connection.autocommit = True #bit advanced
# in order to work with the DB, we need a cursor 

cursor = connection.cursor() #this talks to the DB

for sql_statement in [sql_create_company, sql_create_financials, sql_create_prices]:
    print(sql_statement)
    cursor.execute(sql_statement)

CREATE TABLE IF NOT EXISTS company (
                            ticker VARCHAR(5) PRIMARY KEY, --max length of a ticker is 5
                            name TEXT NOT NULL, -- cannot be empty
                            sector TEXT,
                            state TEXT,
                            summary TEXT)

CREATE TABLE financials (
    ticker VARCHAR(5) PRIMARY KEY, -- in more advanced designs, we would create this as foreign key! only one observation per ticker
    shares BIGINT,
    div_yield REAL,
    beta REAL
)
CREATE TABLE IF NOT EXISTS prices (
    ticker VARCHAR(5),
    ts DATE NOT NULL,
    price REAL,
    volume BIGINT --in milions
    )

In [20]:
def write_company_data(cursor, ticker, td):
    cursor.execute("INSERT INTO company (ticker, name, sector, state, summary) VALUES (%s, %s, %s, %s, %s)", 
                       (ticker, td['shortName'], td['sector'], td['state'], td['longBusinessSummary'])
                  )
def write_financial_data(cursor, ticker, td):
    cursor.execute("INSERT INTO financials (ticker, shares, div_yield, beta) VALUES (%s, %s, %s, %s)", 
                       (ticker, td['floatShares'], td['dividendYield'],td['beta'])
                  )

def write_prices(cursor, ticker, data):
    for row in data.iterrows():
        ts = row[0]
        close = row[1]['Close']
        vol = row[1]['Volume']
        cursor.execute("INSERT INTO prices (ticker, ts, price, volume) VALUES (%s, %s, %s, %s)", 
                       (ticker, ts, close,vol)
                  )
        
## add some data in the db
tickers = ['MSFT', 'FB','GOOG','GS','INTC', 'AAL', 'AAPL']

#yf api https://aroussi.com/post/python-yahoo-finance

for ticker in tickers: 
    td = yf.Ticker(ticker)
    write_company_data(cursor, ticker, td.info)
    write_financial_data(cursor, ticker, td.info)
    write_prices(cursor, ticker, td.history('ytd'))

In [24]:
#check all companies we downloaded

cursor.execute("SELECT ticker, name, sector FROM company;")

for row in cursor.fetchall(): #cursor.fetchone(), 
    print(f'downloaded {row[1]} that operates in {row[2]} and has ticker: {row[0]}')

downloaded Microsoft Corporation that operates in Technology and has ticker: MSFT
downloaded Facebook, Inc. that operates in Communication Services and has ticker: FB
downloaded Alphabet Inc. that operates in Communication Services and has ticker: GOOG
downloaded Goldman Sachs Group, Inc. (The) that operates in Financial Services and has ticker: GS
downloaded Intel Corporation that operates in Technology and has ticker: INTC
downloaded American Airlines Group, Inc. that operates in Industrials and has ticker: AAL
downloaded Apple Inc. that operates in Technology and has ticker: AAPL

In [ ]:
cursor.fetchall()

In [26]:
cursor.execute("SELECT ticker, name, sector from company;")

In [33]:
cursor.fetchone()

('AAPL', 'Apple Inc.', 'Technology')

In [42]:
#or iterate 
cursor.execute("SELECT ticker, name, sector from company;")

for row in cursor:
    print(row)

('MSFT', 'Microsoft Corporation', 'Technology')
('FB', 'Facebook, Inc.', 'Communication Services')
('GOOG', 'Alphabet Inc.', 'Communication Services')
('GS', 'Goldman Sachs Group, Inc. (The)', 'Financial Services')
('INTC', 'Intel Corporation', 'Technology')
('AAL', 'American Airlines Group, Inc.', 'Industrials')
('AAPL', 'Apple Inc.', 'Technology')

In [36]:
#check all technology companies we downloaded

#df[df.sector=='Tech'] #where
 
#case 1
# cursor.execute("SELECT ticker, name FROM company WHERE sector = 'Technology';")
# for row in cursor.fetchall():
#     print(f'downloaded {row[1]} and has ticker: {row[0]}')

# print('-----')
#check all technology companies we downloaded
#case 2
# cursor.execute("SELECT ticker, name from company where sector = %s;", ('Technology', )) #input needs to be a tuple!
# for row in cursor.fetchall():
#     print(f'downloaded a tech company {row[1]} and has ticker: {row[0]}')
    
    
    
print('-----')

#check all Tech and Industrial companies we downloaded
#case 3
for industry in [('Technology',), ('Industrials',)]:

    cursor.execute("SELECT ticker, name from company where sector = %s;", industry) #input needs to be a tuple!
    for row in cursor.fetchall():
        print(f'downloaded a {industry[0]} company {row[1]} and has ticker: {row[0]}')

-----
downloaded a Technology company Microsoft Corporation and has ticker: MSFT
downloaded a Technology company Intel Corporation and has ticker: INTC
downloaded a Technology company Apple Inc. and has ticker: AAPL
downloaded a Industrials company American Airlines Group, Inc. and has ticker: AAL

In [38]:
# joins
# just like in pandas

cursor.execute("""SELECT comp.ticker, comp.sector, fin.shares 
                    
                    from company as comp 
                    
                        join financials as fin 
                    
                    on fin.ticker=comp.ticker
                ;""")
for row in cursor.fetchall():
    print(f'ticker {row[0]} in sector {row[1]} with {row[2]} shares outstanding')

ticker MSFT in sector Technology with 7431118929 shares outstanding
ticker FB in sector Communication Services with 2393979174 shares outstanding
ticker GOOG in sector Communication Services with 607289273 shares outstanding
ticker GS in sector Financial Services with 359198051 shares outstanding
ticker INTC in sector Technology with 4059505820 shares outstanding
ticker AAL in sector Industrials with 632664953 shares outstanding
ticker AAPL in sector Technology with 16770636380 shares outstanding

### JOINS 

* connecting tables - relations!

<img src='https://4.bp.blogspot.com/-_HsHikmChBI/VmQGJjLKgyI/AAAAAAAAEPw/JaLnV0bsbEo/s1600/sql%2Bjoins%2Bguide%2Band%2Bsyntax.jpg' width="800" />

### Inner
* most common - give me the match!
* when you see match, keep it, otherwise drop it.

### Left 
* INNER + rows from LEFT with no match in the RIGHT

In [39]:
cursor.execute("""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;""")
for row in cursor.fetchall():
    print(f'ticker {row[0]} in sector {row[1]} with {row[2]} shares outstanding')

ticker MSFT in sector Technology with 7431118929 shares outstanding
ticker FB in sector Communication Services with 2393979174 shares outstanding
ticker GOOG in sector Communication Services with 607289273 shares outstanding
ticker GS in sector Financial Services with 359198051 shares outstanding
ticker INTC in sector Technology with 4059505820 shares outstanding
ticker AAL in sector Industrials with 632664953 shares outstanding
ticker AAPL in sector Technology with 16770636380 shares outstanding

In [41]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/85/96/1141fd62522a23009db480b05ef8fa0de8c6cb3cbe4e678412190a381a97/SQLAlchemy-1.4.7-cp37-cp37m-manylinux2014_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 1.3MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/site-packages (from sqlalchemy) (3.3.0)
Collecting greenlet!=0.4.17; python_version >= "3"
  Downloading https://files.pythonhosted.org/packages/c6/25/f52f0dde4135833c2f85eae30a749d260231065b46942534df8366d7e1ec/greenlet-1.0.0-cp37-cp37m-manylinux2010_x86_64.whl (160kB)
     |████████████████████████████████| 163kB 1.5MB/s eta 0:00:01
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.4.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy) (3.7.4.3)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.0.0 sqlalchemy-1.4.7
WARNING: You are using pip version 19.3.1; however, version 21.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [42]:
from sqlalchemy import *
import pandas as pd

#                 connect as driver://username:password@host:port/database
engine = create_engine('postgresql://honza:iesFTW@db:5432/postgres') #postgresql.connection - similar object

In [45]:
#pandas + psycopg2

pd.read_sql_query("""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;""", connection, index_col='ticker')

                        sector       shares
ticker
MSFT                Technology   7431118929
FB      Communication Services   2393979174
GOOG    Communication Services    607289273
GS          Financial Services    359198051
INTC                Technology   4059505820
AAL                Industrials    632664953
AAPL                Technology  16770636380

In [46]:
#pandas + sqlalchemy
pd.read_sql_query(
"""SELECT comp.ticker, comp.sector, fin.shares 
                    from company as comp 
                       left join financials as fin 
                    on fin.ticker=comp.ticker;"""
    ,con=engine,index_col='ticker')

                        sector       shares
ticker
MSFT                Technology   7431118929
FB      Communication Services   2393979174
GOOG    Communication Services    607289273
GS          Financial Services    359198051
INTC                Technology   4059505820
AAL                Industrials    632664953
AAPL                Technology  16770636380

In [48]:
#multiple joins with WHERE clause!

pd.read_sql_query("""SELECT comp.ticker, fin.shares,fin.div_yield, px.price as lprice
                    
                    from company as comp 
                        
                        join financials as fin
                            on fin.ticker=comp.ticker
                        
                        join prices as px
                            on px.ticker=comp.ticker
                        
                        WHERE px.ts='2021-03-18'
                  """,connection, index_col='ticker')

             shares  div_yield   lprice
ticker
MSFT     7431118929     0.0088   230.72
FB       2393979174        NaN   278.62
GOOG      607289273        NaN  2036.22
GS        359198051     0.0151   348.00
INTC     4059505820     0.0213    63.73
AAL       632664953        NaN    24.70
AAPL    16770636380     0.0062   120.53

In [ ]:
#algebra within a query

pd.read_sql_query("""SELECT comp.ticker, fin.shares, px.price as lprice, fin.shares*px.price/1e9 as mktcap_in_billions
                    from company as comp 
                        join financials as fin
                            on fin.ticker=comp.ticker
                        join prices as px
                            on px.ticker=comp.ticker
                        where px.ts='2020-01-02'
                  """,connection, index_col='ticker')

In [49]:
#all prices and calculated market caps

pd.read_sql_query("""SELECT comp.ticker, px.price as lprice, px.ts, fin.shares*px.price/1e9 as mktcap_in_billions
                    from company as comp 
                        join financials as fin
                            on fin.ticker=comp.ticker
                        join prices as px
                            on px.ticker=comp.ticker;
                  """,connection, index_col='ticker')

           lprice          ts  mktcap_in_billions
ticker
MSFT    217.18977  2021-01-04         1613.963037
MSFT    217.39929  2021-01-05         1615.519994
MSFT    211.76227  2021-01-06         1573.630599
MSFT    217.78839  2021-01-07         1618.411436
MSFT    219.11534  2021-01-08         1628.272160
...           ...         ...                 ...
AAPL    127.90000  2021-04-07         2144.964419
AAPL    130.36000  2021-04-08         2186.220169
AAPL    133.00000  2021-04-09         2230.494639
AAPL    131.24000  2021-04-12         2200.978411
AAPL    134.17010  2021-04-13         2250.118044

[483 rows x 3 columns]

In [50]:
#create turnover variable

cursor.execute("""
                ALTER TABLE prices 
             ADD COLUMN IF NOT EXISTS turnover REAL;
             """)

cursor.execute("UPDATE prices SET turnover = volume*price") #df['turnover']=df.volume*df.price

pd.read_sql_query("""SELECT * from prices WHERE ticker='AAPL';
                  """,connection, index_col='ticker')

                ts      price     volume      turnover
ticker
AAPL    2021-01-04  129.21692  143301900  1.851703e+10
AAPL    2021-01-05  130.81451   97664900  1.277599e+10
AAPL    2021-01-06  126.41110  155088000  1.960484e+10
AAPL    2021-01-07  130.72466  109578200  1.432457e+10
AAPL    2021-01-08  131.85297  105158200  1.386542e+10
...            ...        ...        ...           ...
AAPL    2021-04-07  127.90000   83466700  1.067539e+10
AAPL    2021-04-08  130.36000   88844600  1.158178e+10
AAPL    2021-04-09  133.00000  106513800  1.416634e+10
AAPL    2021-04-12  131.24000   91286600  1.198045e+10
AAPL    2021-04-13  134.17010   58596949  7.861959e+09

[69 rows x 4 columns]

# SANITIZE YOUR INPUTS

<Img src='https://imgs.xkcd.com/comics/exploits_of_a_mom.png' />